[2018-02-01 15:00] readyblue opened #2 "buddy got disconnected on malformed xml message received"
when you send some malformed xml to your buddy, the server disconnect your buddy.

this is example of what you need to send to get your buddy disconected:

`<test>test`

[2018-02-01 16:07] readyblue commented on #2
checking this issue by sending well-formed and malformed xml message to different clients
1.) from Xabber to Pidgin:
msg:
<test></test> - passed fine and it is delivered (wel-formed xml message in text form)
<test>test - disconnects buddy on Pidgin immediately

2.) from Pidgin to Xabber:
msg:
<test></test> - does not deliver, but does not disconnect.
<test>test - disconnect buddy on Xabber immedia

[2018-02-01 17:03] ortuman commented on #2
Fixed on 0.1.3 release. Thank you.

[2018-02-01 17:03] #2 closed

[2018-02-02 21:47] readyblue opened #3 "unable to login on some clients after a few logins-and-logouts"
after some time of running the server it is no longer possible to login for some clients due to strange XML error.

attaching proof of the logs in case of Xabber
[xabber.txt](https://github.com/ortuman/jackal/files/1690928/xabber.txt)

[2018-02-02 23:17] readyblue commented on #3
@ortuman thanks man! your latest patch seems to resolve this issue. now there is no XML error on login on any client.

[2018-02-02 23:17] #3 closed

[2018-02-03 12:37] readyblue opened #4 "users cannot change their password once modul 'XEP-0077: In-Band Registration' is disabled"
let us present this use case:

I do not want to users can register new accounts, but I want to allow them to change their password, so I have change the config like this:

[code]

at this point, users cannot change their password,
yet no error is presented to them, nor no error on server log is found.

[2018-02-03 12:40] readyblue commented on #4
correction, Pidgin does not report error, but it does not announce the message "your password has been changed" either.

[2018-02-03 14:12] readyblue opened #5 "User can get stuck in online state, yet no way to go offline"
After a while of running server with about 3 testing users, one user get stuck in online state, even if there was no client connected to that user. Server stop sending pings, so the user cannot even timeout and disconnect. Incoming messages to this stucked user was treated by server as if it was online, yet no pings were sent.

This stucked user never disconnect. When client loged in to this stuck

[2018-02-03 19:04] readyblue commented on #5
I was able to catch this issue with [debug] loging on.
It has started with error:
`[ERR] stream:803 - read tcp 11.22.33.44:5222->55.66.77.88:48934: i/o timeout`
after that, user `user_1` get stuck online.

Attaching [debug] log
[log.txt](https://github.com/ortuman/jackal/files/1692083/log.txt)

[2018-02-04 12:27] ortuman commented on #4
Added `allow_registration` option in mod_registration configuration...

in the exposed use case should look like this...

    mod_registration:
      allow_registration: no
      allow_change: yes
      allow_cancel: no

[2018-02-04 12:27] #4 closed

[2018-02-04 12:33] ortuman commented on #5
Ok. Thanks for the report. I'll study the case asap.

[2018-02-04 14:51] readyblue commented on #5
I have tested the latest version:
jackal version: 0.1.5
but the issue is remain the same.
Everything goes wrong after that
`[ERR] stream:803`
After that, user get stuck online there

[2018-02-04 15:48] readyblue commented on #5
new version 0.1.5 bring ability to stucked user to comunicate once it really come back online. This is new as on earlier version user was not able to receive message

[2018-02-04 18:58] readyblue commented on #5
many thanks @ortuman
in jackal version: 0.1.6
this issue is resolved

[2018-02-04 18:58] #5 closed

[2018-02-05 21:16] readyblue opened #6 "XML error on login when reconnect from different network"
This was spotted on Xabber:
when you are connected on mobile data and reconnect to wifi, Xabber cannot login again due to
XML error on reconnect.

Normally it should reconnect and server should immediately disconnect previous connection and replace it with new one.

[2018-02-06 12:48] ortuman commented on #6
Could you please attach log file in debug mode?

[2018-02-06 13:45] ortuman commented on #6
Seems there's a problem related with the resource binding...

according to the RFC the server should behave as follow...

If there is a currently connected client whose session has the resourcepart being requested by the newly connecting client, the server MUST do one of the following (which of these the server does is a matter for implementation or local service policy, although suggestions are p

[2018-02-06 14:13] readyblue commented on #6
this is exactly it:

specially in scenario of:

It is exactly like that, dead connection should be allowed to replace, that was this issue about in the first place.

[2018-02-06 14:19] readyblue commented on #6
@ortuman Thanks man.

[2018-02-07 09:33] ortuman commented on #6
Added option 'resource_conflict' in 0.1.8 relese.

Valid values are:
`override` - override the resource with a server-generated resourcepart.
`replace` - terminate the session of the currently connected client.
`reject` - disallow resource binding attempt.

[2018-02-07 09:33] #6 closed

[2018-02-08 13:01] readyblue opened #7 "error code 503 on sending the message"
This was spotted on Xabber client, when two buddies communicate. From certain point only one of them is able to send the messages , the other one is getting error and cannot send any more message. Subscription is both,both in the DB.

[error-503-red-cross.txt](https://github.com/ortuman/jackal/files/1707081/error-503-red-cross.txt)

Still cannot reproduce what possibly could cause this issue.

[2018-02-09 10:10] ortuman commented on #7
Ok. According to the log file seems pretty clear that messages are being sent to an already disconnected stream. Is there any way I can reproduce this very same issue? Also, maybe this has something to do with the recently added 'resource conflict' policy feature. Playing with different values changes this behavior? Thanks in advance!

[2018-02-09 10:19] readyblue commented on #7
I have tried changing the 'resource conflict' even before I have submit this issue. It has no effect on it.

This one is tough to reproduce, I do not even know how does it happen. Suddenly my friend and I were connected via mobile data with Xabber and it happens right there.

[2018-02-09 11:16] ortuman commented on #7
Mmmmmm, may this happen while one of you has the Xabber application in background???

[2018-02-09 12:30] readyblue commented on #7
@ortuman well we both have Xabber in the background most of the time, so it is very possible

[2018-02-09 15:53] ortuman commented on #7
and do you see any previous disconection in the logs?

[2018-02-09 16:18] readyblue commented on #7
I have found this
`[DBG] stream:838 - SEND: <failure xmlns="urn:ietf:params:xml:ns:xmpp-sasl"><malformed-request/></failure>`

attaching full log:
[full-503-error.txt](https://github.com/ortuman/jackal/files/1711652/full-503-error.txt)

[2018-02-09 16:27] ortuman commented on #7
very useful! thanks!
I see why these messages are being resent as error

`
<message to="user_2@example.com/xabber_dndsar61" id="wf3GR-1872" type="chat"><body>still-cannot-deliver</body><thread>lA2BJhSAmwCX</thread><active xmlns="http://jabber.org/protocol/chatstates"/><request xmlns="urn:xmpp:receipts"/></message>
`

notice that resource is in lowercase, though previously the stream was authentica

[2018-02-09 16:48] ortuman commented on #7
`
Else if the JID is of the form <user@domain/resource> and no available resource matches the full JID, the recipient's server (a) SHOULD silently ignore the stanza (i.e., neither deliver it nor return an error) if it is a presence stanza, (b) MUST return a <service-unavailable/> stanza error to the sender if it is an IQ stanza, and (c) SHOULD treat the stanza as if it were addressed to <user@doma

[2018-02-09 17:55] ortuman commented on #7
Fixed on `0.1.9` release

[2018-02-09 17:55] #7 closed

[2018-03-25 16:48] ThomasLeister opened #9 "Can't go get without errors"
Hi, I've tried to install Jackal on my test virtual server running Debian 9 Stretch. I've installed Golang 1.7.4:

[code]

... and all the build requirements for Jackal dependencies. Now ```go get github.com/ortuman/jackal``` results in this error messages:

[code]

Is there anything I can do about it... or is this a bug?

There's no binary in my $GOBIN after `go get`.

[2018-03-25 16:56] ortuman commented on #9
Go 1.9+ is required!

[2018-03-25 17:17] ThomasLeister commented on #9
Now it works! I already had the idea of installing a more recent version of go instead of using the version from the Debian repos. But I did a mistake while installing Go manually and the packaged (outdated) version was still functional.

So now with my fixed setup it works! :-) Thanks anyway!

[2018-03-25 17:17] #9 closed

[2018-03-26 03:41] belak opened #10 "Private key available in repo"
I doubt you meant to commit your certs to the repo, but they should be removed (and probably invalidate/revoke them).

[2018-03-26 07:35] ortuman commented on #10
Hi belak! The fact is that `jackal` enfoces the use of a TLS/SSL connection, and that cert and key is nothing more than a `localhost` domain self signed certificate with no expiration date. The idea is to allow anyone to try the server without having to deal with any cert issues. I'm also considering to implement auto TLS vía Let's Encrypt in the future. :)

[2018-03-26 08:06] belak commented on #10
Sounds good. Thanks for clarifying!

[2018-03-26 08:51] ortuman commented on #10
In order to avoid confusions, I've updated the README.md file explaining how to generate a default self-signed certificate. Also updated the Dockerfile. ;)

[2018-03-26 08:51] #10 closed

[2018-03-27 21:49] petrk94 opened #13 "Run jackal on shared host?"
Hello,
I would like to know whether jackal is running on a shared host, Im using uberspace, but there is no docker possibility and another ways are not easy enough to run a own XMPP server on it.

Thanks

[2018-03-30 13:52] ThomasLeister commented on #13
I assume as long as you have an own IP address to which you can attach Jackal it should be possible to get Jackal running on a shared host. Simply speaking Jackal is just a binary that can be run as normal user. No root needed.

*(Note that I'm not aware of Uberspace's infrastructure details)*

[2018-03-30 14:21] ThomasLeister opened #15 "MySQL database schema import: Specified key was too long; max key length is 767 bytes"
When trying to import the MySQL schema for Jackal, my MySQL server reports an error:

[code]
Note that I'm *not* using the official Oracle MySQL, but **MariaDB** as a MySQL server. Since MariaDB is e.g. shipped with Debian by default, I think this issue should be investigated and compatibility should be provided in the future.

Maybe this issue from another Golang project is helpful? https://githu

[2018-03-30 15:32] ThomasLeister opened #16 "Cannot register via Conversations App"
I tried to register a new user "root" on my host "jackal1.security-enforced.de" via the Conversations Android app. Registration failed with this error message:

[code]

Jackal seems to check the "from" which says "root@..." ... but because this user does not exist (yet) the stanza is declared invalid.

In-Band registration via Pidgin works fine.

[2018-03-30 15:38] ThomasLeister opened #17 "Ping from Pidgin to Jackal fails"
I do not have an explanation yet, but pings from Pidgin to Jackal seem to fail:

[code]

The root@jackal1.security-enforced.de account was also created via Pidgin / In-band registration. Client connection to the server is fine - authentication was successful.

[2018-04-04 19:27] ortuman commented on #17
Fixed on 0.1.18 release. Thanks for the report!

[2018-04-04 19:27] #17 closed

[2018-04-04 19:28] ortuman commented on #16
Fixed on 0.1.18 release. Thanks for the report!

[2018-04-04 19:28] #13 closed

[2018-04-04 21:02] petrk94 commented on #13
I will try it if I have time.
Thanks

[2018-04-06 07:39] Neustradamus opened #19 "RFCs and XEPs support page with VERSION"
On the README (RFCs and XEPs support), it is possible to add version of XEPs?
https://github.com/ortuman/jackal/blob/master/README.md

Examples:
- https://metronome.im/supported-xeps-list
- https://dev.gajim.org/gajim/gajim/wikis/help/GajimXEPSupport
- https://github.com/jappix/jappix/blob/master/PROTOCOL.md

[2018-04-06 07:43] Neustradamus opened #20 "Update the logo"
I have seen a beautiful logo but the XMPP logo has been updated last year, can you update it too?
https://github.com/ortuman/jackal/blob/master/doc/gopher.png

Source: https://commons.wikimedia.org/wiki/File:XMPP_logo.svg

[2018-04-06 07:44] Neustradamus opened #21 "XEP-0387: XMPP Compliance Suites 2018"
Please add support of https://xmpp.org/extensions/xep-0387.html

[2018-04-11 00:55] andreygursky opened #22 "XEP-0198: implement both c2s and s2s"
While implementing XEP-0198 please design it in a way it would support both c2s and s2s [1].

[1] XEP-0198 s2s
   https://github.com/processone/ejabberd/pull/1969

[2018-04-12 10:17] ortuman commented on #15
You are right Thomas. The SQL script has been written having in mind MySQL 5.7

Let's make it compatible with MariaDB... :)

[2018-04-12 10:35] ortuman commented on #15
Which version of MariaDB are you using @ThomasLeister?

Running the script with latest version *(MariaDB 10.2.14)* works fine. Could you confirm?

[2018-04-13 11:15] ortuman commented on #15
Great! I'll update README.md to make it clear. Thank you for reporting!

[2018-04-13 11:15] #15 closed

[2018-04-17 12:59] roobre opened #26 "XEP-0163: Personal Eventing Protocol; Planned support/accepting PR?"
Hi there,

I've been thinking about building an XMPP server in go for a while, and I just found yours. I haven't looked at the code yet (will do soon) but it looks good and active, so I was wondering if you have reached a point on the project where pull requests are welcome (API is more or less consolidated, etc).

Currently I'm really interested in PEP, as it is a hard requirement for OMEMO which

[2018-04-17 15:59] ortuman commented on #26
Hi roobre

Of course! In fact PEP was originally included in my internal roadmap, cause OMEMO support is also one of the preferences for jackal (and would also like to enforce it, if possible). Feel free to PR it! Regarding code and architecture design, if you have any doubt, ask and I’ll try to shed some light on it.

Welcome onboard!

[2018-04-18 09:59] ortuman commented on #20
Sorry, but I don't see any clear difference between the current logo and the one included in the README.md file

[2018-04-18 14:51] SamWhited commented on #20
@ortuman there was an issue in the XMPP Logo where the "arms" were being rendered in the wrong order. In your logo the orange color of the right arm renders over the left, even though in general the left arm is over the right. This has been fixed in the version of the logo on the XSFs site.

[2018-04-18 15:05] ortuman commented on #20
Good point @SamWhited! I'll fix it asap. Thx!

[2018-04-19 12:38] ThomasLeister commented on #16
Tried 0.1.20, but the problem still persists:

[code]

(see ```invalid-from```)

[2018-04-20 07:01] ortuman commented on #16
Good. I'll check it asap. Thanks!

[2018-04-20 07:33] ortuman commented on #16
A new 0.1.20 release has been uploaded. It should work now. Please, could you confirm? Thanks :)

[2018-04-20 08:05] ortuman commented on #20
Fixed.

[2018-04-20 08:05] #20 closed

[2018-04-20 08:37] ThomasLeister commented on #16
Works now! :-)

[2018-04-20 08:37] #16 closed

[2018-04-20 14:47] ThomasLeister opened #27 "In-Band registration: Support Captcha (XEP-0158)"
Nice to have: Captchas for In-Band registration.

https://xmpp.org/extensions/xep-0158.html#register

Background info: Some XMPP server operators turn off in-band registration because of misuse by spam bots. Most web registration interfaces support captchas, so this is a common approach how to handle registrations.

Still this is not a really satisfying practise, since in-band registration exists

[2018-04-20 15:38] stevenroose commented on #19
What are you most interested in here? The supported version of the XEP? Or the Jackal version that starts supporting the XEP?

[2018-04-20 15:41] stevenroose opened #29 "META: Host a dev chat MUC on jackal.im"
An XMPP server project having an official Gitter?? :/ We can do better, right? :)

[2018-04-20 16:41] ThomasLeister commented on #29
Maybe we can postpone that until Jackal runs stable? Because hosting a Jackal MUC with another XMPP server wouldn't be okay either ;-)

[2018-04-20 16:49] stevenroose commented on #29
Yeah I thought about that :D That's fine. Can take a while though, I guess.

[2018-04-20 16:52] genofire commented on #29
feel free to use my one - atm, till jackal is good enougth:
[![my server](https://inverse.chat/badge.svg?room=jackal@conference.chat.sum7.eu)](xmpp:jackal@conference.chat.sum7.eu?join")

[2018-04-20 16:54] stevenroose commented on #29
@genofire That badge doesn't work for me..

[2018-04-20 16:59] ThomasLeister commented on #29
@ortuman are there any advantages in using Gitter over a XMPP MUC? To be honest I'm not very familiar with Gitter, but I guess you have reasons for using it?

*(not questioning your decision - just asking. I'm fine with Gitter, too.)*

[2018-04-20 17:09] stevenroose commented on #29
It's easy and free, basically. And every github user automatically has an
account. I don't like the web interface it has. But they have an IRC
bridge. We can also just hoop up at #jackal@freenode

On Fri, Apr 20, 2018 at 6:59 PM, Thomas Leister <notifications@github.com>
wrote:

[2018-04-27 10:18] ThomasLeister opened #31 "Time to change logo again?"
See https://blog.golang.org/go-brand

:wink:

[2018-04-27 10:36] stevenroose commented on #31
I think a protest in the form of extensively keep using the Gopher everywhere is appropriate.

[2018-04-27 19:37] SamWhited commented on #31
The gopher is not changing, and the logo has barely changed. This is the old logo, the new one is just a cleaned up version and a document that provides a design language for the pending website and blog redesign.

![https://golang.org/doc/go-logo-white.png](https://golang.org/doc/go-logo-white.png)

[2018-04-28 14:39] #31 closed

[2018-04-28 14:40] #29 closed

[2018-05-08 11:11] ThomasLeister opened #33 "server: check permissions on TLS key and certificate at early state"
When the server starts up and wrong permissions do not allow Jackal to access certificate and key, this happens:

[code]

Maybe it's better to check permissions and validity of the certificates in a more early state, so Jackal can fail and return a error code immediately after startup. This would be more admin friendly ;-)

[2018-05-08 22:51] link2xt opened #35 "module: add XEP-0163 (Personal Eventing Protocol) support"
It is not listed in the README so I assume it is not implemented.

PEP is required by OMEMO, so it is essential for any modern XMPP server.

[2018-05-09 09:58] ortuman opened #36 "store: add PostgresSQL support"
Implement postgres storage backend.

[2018-05-10 14:41] ortuman commented on #35
Next goal is to implement XEP-0163 (Personal Eventing Protocol). In fact, I'd like to enforce (if possible) OMEMO on jackal.

[2018-05-10 17:05] ortuman opened #37 "store: Storage interface refactorization"
Split Storage in smaller interfaces.

[2018-05-10 17:12] ortuman opened #38 "proposal: create jackal Makefile."

[2018-05-11 10:58] modInfo opened #39 "stringprep.h"
xml/jid.go:13:24: fatal error: stringprep.h: No such file or directory

[2018-05-11 11:30] ortuman commented on #39
Make sure you have libidn installed before trying to build jackal.

[2018-05-11 12:00] modInfo commented on #39
Works with libidn, but sql not

[code]

[2018-05-11 12:03] ortuman commented on #39
jackal requires MySQL 5.7+ or MariaDB 10.2+

[2018-05-11 15:38] #39 closed

[2018-05-14 09:45] #37 closed

[2018-05-14 15:39] ortuman opened #41 "server: refactorize stream disco info handling"

[2018-05-18 12:56] #41 closed

[2018-05-22 06:43] ortuman opened #44 "server: implement XMPP federation"

[2018-05-22 07:21] ortuman opened #45 "server: implement autoTLS"
Implement autoTLS via Let's Encrypt.

[2018-05-22 07:38] ortuman commented on #33
implemented on 0.3

[2018-05-22 07:38] #33 closed

[2018-05-24 13:13] #45 closed

[2018-06-08 14:08] adrian-dks opened #51 "MUC XEP-0045"
Do you plan to develop this module?

[2018-06-08 19:33] ortuman commented on #51
Of course! But currently my priority is to implement s2s asap.

[2018-06-22 02:45] verysync opened #52 "Need CGO for compile?"
[code]

[2018-06-26 13:55] ortuman commented on #52
Yes, jackal uses [libidn](https://www.gnu.org/software/libidn/) to parse stanza JIDs.

[2018-07-05 10:34] #51 closed

[2018-07-06 15:30] ortuman commented on #52
removed CGO dependency on master branch

[2018-07-06 15:30] #52 closed

[2018-07-06 15:31] ortuman commented on #44
merged on master branch.

[2018-07-06 15:31] #44 closed

[2018-07-06 18:26] SamWhited opened #53 "xml/jid: JID parses correctly even if resource part is empty"
Parsing a JID with an empty resourcepart does not fail as expected:

[code]

Empty resourceparts are illegal according to RFC7622 § 3.4. Resourcepart:

[2018-09-03 17:22] SamWhited opened #57 "Pleaes tag using "v0.0.0" format for go module support"
[Go Modules](https://golang.org/doc/go1.11#modules) require tags of the form "v0.0.0" (with the "v" prefix). Please consider tagging this way in the future to make releases compatible with modules and possibly adding additional tags on the existing tagged commits. Thanks!

[2018-09-04 06:58] ortuman commented on #57
Thanks for pointing this out Sam! All release tags has been already renamed. Also hope to port to go modules soon enough. Thanks!

[2018-09-04 06:58] #57 closed

[2018-09-07 08:25] kyokuki opened #58 "module: add XEP-0045(Multi-User Chat) support"
Do you have the plan to implement the XEP-0045(Multi-User Chat) ？

[2018-09-07 12:28] ortuman commented on #58
Yeah, definitely! I’m currently working on component interface, and most likely Http upload will be first the implemented one. But from there on, I’ll consider to implement MUC as well. :)

[2018-10-08 18:36] SantoshSah opened #60 "Question: does it support audio and video features?"
Hi,

does it support audio and video?

[2018-10-08 18:39] SantoshSah opened #61 "Documentation"
Is there any documentation, example that explains/helps how to use this server? It would be really great if there proper documentation.

[2018-10-08 18:44] SamWhited commented on #60
In XMPP audio and video does not require server support, it is purely a client concern.

[2018-10-18 20:19] mechmind commented on #58
Looking forward for this module so I can finally ditch personal ejabberd :)

Note: i'd suggest to keep this issue open until implementation is ready so people skimming through issue list wont be confused.

[2018-10-25 05:37] muety opened #62 "Hash password"
I think it is a good practice to save a user's password to the database encrypted instead of in plain text.

[2018-10-25 09:20] ThomasLeister commented on #62
Oh, isn't the password encrypted? I haven't checked myself, but I consider this very important. Maybe bcrypt or something similar could be used for that :-)

[2018-10-25 09:33] stevenroose commented on #62
Hmm, perhaps read up a bit on best practices for that. I'd guess a
user-specific salt is also needed. Also, I don't think they need to be
encrypted, just hashed. With a user-specific salt. You could create the
salt by hashing some metadata about the user (username, first password,
time of creation) together with some random (to avoid problems with bad
PRNGs) and just store the salt next to the pas

[2018-10-25 15:30] n1try commented on #62
Of course, hashing the password is what I meant, sorry for the confusion.
I am not very used to the best practices there, but I guess just normally hashing `md5`- or `SHA-1`-hashing the password would already be sufficient.

[2018-10-25 16:44] ThomasLeister commented on #62
Please don't use md5 or sha1. MD5 has been broken a long time ago and sha1 was broken in 2016 or 2017 ... sooo... better choose something serious ;-)

[2018-10-25 16:48] SamWhited commented on #62
Even if SHA-1 weren't broken, the SHA series of hashes is designed to be fast, making them entirely inappropriate for protecting passwords in a database for which you really want a slow key-derivation function such as argon2 (the current OWASP recommendation, IIRC) or PBKDF.2 (like SCRAM uses). For XMPP it is common to store SCRAM bits as if the user had logged in with SCRAM-SHA-1 (that way if you

[2018-10-26 09:17] zet4 commented on #62
Since no one has so far, I would propose SCrypt or it's brother BCrypt.

[2018-10-26 09:19] roobre commented on #62
+1 for Bcrypt, implementing it seems straightforward too: https://godoc.org/golang.org/x/crypto/bcrypt

[2018-11-03 16:45] ortuman commented on #53
Fixed on [0.3.4](https://github.com/ortuman/jackal/releases/tag/v0.3.4) release

[2018-11-03 16:45] #53 closed

[2018-11-11 14:42] ortuman commented on #19
Added XEPs version to README.md. ([commit](https://github.com/ortuman/jackal/commit/1847ef942592ad6a56c981f62821f461b735ebcf))

[2018-11-11 14:42] #19 closed

[2019-01-03 17:24] robzon commented on #36
What's exactly needs to be done here? Since Squirrel is psql-compatible, is it only the database setup code that needs to be written? Are there things in storage/sql package that won't work with postgres?

Trying to asses how much work needs to be done, I'd give it a shot if I can fit it into my schedule.

[2019-01-03 17:59] ortuman commented on #36
Also adapting sanetizers and sprecific platform statements such as “Insert or update”. A little help on this would be great.

Currently I hope to start working on PEP ASAP.

[2019-01-03 20:44] robzon commented on #36
I'll give it a shot. This is one of the very few things I can help with, since I'm not familiar with the XMPP protocol (yet).

[2019-01-05 12:15] Neustradamus commented on #21
Have you looked for RFCs and XEPs listed in?

[2019-01-12 00:10] vetterfl commented on #62
The problem is, you can not use hashing with digest-md5 authentication (which is still the default on client side IMHO). It relies on both the server and the client sharing the same password. https://prosody.im/doc/plain_or_hashed

[2019-01-12 00:13] SamWhited commented on #62
It's not, no one uses DIGEST-MD5 anymore. It's also completely broken, so there's not much point in supporting it when legacy clients also support PLAIN (which is basically the same thing except you can do hashing properly), and most clients support SCRAM-SHA-1 (where you can store hashed scram bits).

[2019-01-12 00:46] vetterfl commented on #62
Ah, OK. I'll definitely look in to SCRAM then. And you already mentioned that 3 posts earlier (and I just over-read that).

[2019-01-12 18:39] vetterfl commented on #62
OK, one more question. You would have to decide which hashing algorithm to use upon registration. So either SHA-1 or SHA-256 so you could only support one SASL mechanism and PLAIN. How to decide? Or am I totally wrong again? How do other server handle that? I ran prosody a while ago but didn't spend much time looking into SASL. Passwords were hashed, though.

[2019-01-12 20:10] SamWhited commented on #62
Since the hash in SCRAM is only used as part of the HMAC it doesn't really matter much so long as it's cryptographically secure. Right now most things support SCRAM-SHA-1 since support is required by RFC 6120 and not much supports SCRAM-SHA-256 (Prosody and Conversations do, but not a whole lot else).

Supporting SCRAM-SHA-1 and PLAIN (using proper password storage techniques for plain auth and on

[2019-01-13 19:54] roobre commented on #62
I'd say non-plain auth methods are a bit outdated nowadays, where most clients and servers use and support TLS. I think Bcrypt storage with PLAIN auth is the best option. Of supporting other stuff like SCRAM would be nice, but I see it way less important.

[2019-01-13 23:12] robzon opened #69 "Add Tor support for c2s communication"
Add an option to listen for incoming client connections via Tor hidden service.

Removed s2s for now as I'm not sure if this would even be possible currently.

[2019-01-14 00:10] jcbrand commented on #62
If you're using PLAIN and going through a proxy, like a BOSH connection manager, then your password could get leaked.

[2019-01-14 09:31] JusticeN opened #70 "Why Jackal? Why a new XMPP Server"
Hello everyone,
I am searching for a xmpp server for my new project. And I just want to know the reason why you decide to create a new XMPP server even if there are already good existing one. I am just starting with xmpp so I am not an expert.

What is the advantage of Jackal in comparison to the others like ejabberd or openfire?

Thanks in advance.

[2019-01-14 09:36] ThomasLeister commented on #70
From my point of view:

- Openfire: Dead / dying project (as far as I know) and its Java. Nobody wants Java. ;-)
- Ejabberd: Mature, but Erlang and well, ... somehow mysterious? Can't fix issues myself, but I need help from experts.
- Prosody: Easy but sometimes unstable / needs **lots** of RAM if you host ~1.000 users
- Everything else: Not maintained, dead, dying or just bad.

Golang is an easy

[2019-01-14 09:38] ThomasLeister commented on #70
@JusticeN  Btw there's a chat for questions like this. GitHub Issues is not the correct place to ask general questions, but rather ask questions about development / suggest features / ...

https://gitter.im/jackal-im/jackal

[2019-01-14 12:49] jcbrand commented on #70
I think it's cool that there's an XMPP server being developed in Golang, but I'd like to clear up some misconceptions.

It's not dead, nor dying. There are regular releases and it's still used a lot. The fact that it's written in Java makes it popular with larger enterprises

Not true. MongooseIM (Erlang) and Tigase (Java) are two more servers that are FOSS with (AFAIK) commercial companies doing

[2019-01-14 17:42] robzon commented on #70
I'm building a Go-based solution and XMPP is a part of it. Having the XMPP server within the same tech stack is great for me.

+1 for XMPP MUC chat, I guess this will come once jackal supports MUC :-)

[2019-01-15 15:20] JusticeN commented on #70
Thank you Robzon. irecently join the chatroom

[2019-01-15 15:21] JusticeN commented on #70
Thank you guys for you reply. I will just close this issue and continue asking in the gitter chat room

[2019-01-15 15:21] #70 closed

[2019-01-16 20:38] ortuman commented on #36
Implemented in ef9484b550e03ea5c5ef498d3a9083b469cbbc09

Thank you @robzon 🙌

[2019-01-16 20:38] #36 closed

[2019-01-18 14:17] Neustradamus commented on #70
You have forgotten:
- Tigase
- Metronome IM, the Prosody IM fork
- Jabberd2

Old:
- Jabberd14
- DJabberd

[2019-01-21 12:18] licaon-kter commented on #69
Umm, this does not need server support, just edit **/etc/tor/torrc**
[code]

[2019-01-21 14:41] robzon commented on #69
I was thinking about embedded support, but now I realize embedding makes much more sense for clients rather than servers. It seems the only thing that's needed on the server side is the ability to connect to other servers via onion addresses (s2s).

[2019-01-28 16:54] robzon opened #73 "Session establishment (as per rfc3921) should not be required by the server"
rfc6121 (which obsoletes rfc3921) no longer requires session to be explicitly established by the client:

From [rfc6121](https://xmpp.org/rfcs/rfc6121.html#intro-summary):

jackal still requires the session to be explicitly open.

[2019-02-04 20:02] ortuman commented on #73
fixed at 7cb0c4d63302258eebeda0ab698353c54bfb5c0b

[2019-02-04 20:02] #73 closed

[2019-02-07 16:31] ThomasLeister opened #75 "Jackal does not respond to registration request"
Hello,

I've set up Jackal on an entirely new machine (Debian Stretch) with PostgreSQL. Unfortunately I'm not able to create a new account on my server. Both Pidgin and Conversations for Android get stuck and neither the server nor the client is responding after a certain point.

[code]

**Jackal Version**: 0.4.8
**Database Backend**: PostgreSQL 9.6+181+deb9u2
TLS CA: Let's Encrypt

Configuration:

[2019-02-07 18:35] ortuman commented on #75
I'll check it ASAP. Thank you once more for reporting. ;)

[2019-02-07 19:09] ortuman commented on #75
Shoud be fixed in [0.4.9](https://github.com/ortuman/jackal/releases/tag/v0.4.9) release.

Please, confirm if it works as it should 😄

[2019-02-08 08:47] ThomasLeister commented on #75
Yes, it does! :-) Thanks for the quick fix!

[2019-02-08 08:47] #75 closed

[2019-03-12 03:42] waveletlet opened #77 "s2s lookup error"
jackal can't find a server, even though `dig` shows it resolves correctly.

[code]

[code]

The error is consistent, I can't get any kind of connection to that server at all.

This isn't a global issue, I can successfully connect to other servers and send messages to users on them. According to [compliance.conversations.im](https://compliance.conversations.im/server/riotcat.org/), the remote serve

[2019-03-12 16:17] waveletlet commented on #77
Also, it looks like I can receive messages from the server that lookup always fails for.

[2019-03-13 02:09] waveletlet commented on #77
Better dig lookup:

[code]

[2019-03-13 04:57] waveletlet commented on #77
Ok, I did some more debugging, it looks like the error is when it runs `net.LookupSRV("xmpp-server", "tcp", "riotcat.org")`. Possibly an occurance of [this bug](https://github.com/golang/go/issues/18588).

Other failed debugging to try to get around this bug, as hinted at by comments in the bug linked above:
* setting limit of open files to unlimited (/etc/security/limits.conf)
* changing to possi

[2019-03-13 19:19] ortuman commented on #77
Yes, you are right. Right now, if the service fails trying to do the SRV lookup we do not fallback to the standard XMPP port...
https://github.com/ortuman/jackal/blob/master/s2s/dial.go#L31-L40

Thanks for reporting. I'll update the issue as soon as the patch is applied.

[2019-03-13 20:30] ortuman commented on #77
This commit should fix the issue...

https://github.com/ortuman/jackal/commit/e7bb957e67ba0664d3517d30f1a48b8cf3dec4f1

Available on master branch, please @waveletlet could you confirm it's working now? Thanks! 🙏

[2019-03-13 20:43] waveletlet commented on #77
I also talked to the person running the server, and they told me they only set xmpps-client/xmpps-server, to force secure connections as described in [XEP-0368](https://xmpp.org/extensions/xep-0368.html), might be good to also try something like `d.srvResolve("xmpps-server", "tcp", remoteDomain)` for that case (which is probably the preferred case, anyway).

[2019-03-13 21:06] waveletlet commented on #77
Looks like it works now! But I'm not seeing this warning `log.Warnf("srv lookup error: %v", err)` in the log, should I be? The remote server admin said they'd add the SRV record so I'm not sure if it'd trigger the error or not anymore. (`dig` still isn't giving me a SRV record for them, though.)

[2019-03-16 14:06] lovetox opened #78 "Server does not send enough data per packet"
testable on wormhole.chat

There seems to be a bug in the way the server sends stanzas, often it sends only small parts of a stanza

[code]

[2019-03-16 19:31] ortuman commented on #78
Please, could you add more context? Don´t know exactly how to reproduce this.
Besides, looks like it could also be some bug on client side

[2019-03-16 19:32] #77 closed

[2019-03-16 19:46] lovetox commented on #78
Im not sure what i context i could provide
the server is able to put more data into the buffer as you can see on the first stanza
but after that he just puts not enough data into it anymore

im not sure how this is even possible it almost looks like some parser puts stuff into the buffer as he parses it, element after element

[code]

[2019-03-16 19:49] ortuman commented on #78
what kind of transport are you using? socket? websocket?

[2019-03-16 19:54] lovetox commented on #78
no special transport, standard socket

[2019-03-16 20:00] ortuman commented on #78
🤔 I see.

I think I can figure out where the problem is. I'll tackle the issue and make know as soon as the patch is ready.

[2019-03-16 20:16] ortuman commented on #78
Just pushed a patch on master branch...

9a042ca56eb599fb66e4afa535fb701a978eb4e2

could you please check it now? 🙏

[2019-03-16 20:19] lovetox commented on #78
hm yes can you offer an account on a patched server?

i am a client dev i just observed this problem, its not my server

[2019-03-16 20:23] ortuman commented on #78
Try registering an account on `jackal.im`

[2019-03-16 20:26] lovetox commented on #78
yes works fine on that server, though we never know now if that bug was on that server in the first place.

but i guess you wouldnt push changes if you didnt think you found something

thanks

[2019-03-16 20:26] #78 closed

[2019-03-16 20:32] ortuman commented on #78
You were right from the begining, data was being sent while perfoming serialization.
Current approach uses an intermediate buffer instead.

Thanks to you for reporting! 🙌  😃

[2019-03-24 02:53] waveletlet opened #80 "xep0049/private:153 - pq: there is no unique or exclusion constraint matching the ON CONFLICT specification"
Not sure if this is a jackal issue or an I don't understand postgres issue... Here's the log lines from immediately before the error.

[code]

Pops up when I restart the server for every user that's online. Not seeing anything strange on the client side.

[2019-04-01 19:28] ortuman commented on #80
hi @waveletlet! 👋

could you please provide a list of active constraints on `private_storage` postgres table?

[2019-04-02 00:36] waveletlet commented on #80
Does this mean anything to you?

[code]

(I used the query from [https://dba.stackexchange.com/a/214877](), if there's one more appropriate for what you're asking for let me know.)

[2019-04-06 18:57] ortuman opened #81 "Implement offline message external gateway"

[2019-04-06 19:41] ortuman opened #82 "Implement custom auth mechanism"
Implement external gateway auth mechanism via HTTP.

[2019-04-07 08:11] ortuman commented on #80
👋 Hi @waveletlet!

Current [0.4.11](https://github.com/ortuman/jackal/releases/tag/v0.4.11) release should fix the issue. Could you please confirm? Thanks! 🙏

[2019-04-08 19:58] ortuman commented on #81
PR: https://github.com/ortuman/jackal/pull/84

[2019-04-08 20:12] #81 closed

[2019-04-09 00:47] waveletlet commented on #80
Not seeing the error anymore, looks good!

[2019-04-23 00:58] DD1990 opened #85 "Communication is lost"
After the server has been running for some time, there is a client connection again. The message is somehow lost in the process of shaking hands

[2019-04-25 15:40] poVoq opened #86 "Suggestion: optional gateway mode for Mattermost?"
Sorry for posting a suggestion only...

Anyways, this project would be ideal I think to include a gateway mode for the Mattermost chat system. They already have a similar system for IRC that allows connecting to Mattermost with any IRC client and have previously suggested that a similar approach could also be used to allow Mattermost to act as a XMPP server backend.

The relevant code for the mini

[2019-05-03 09:34] #80 closed

[2019-05-03 09:36] ortuman commented on #85
Hi @DD1990 👋

Please, try to update to the [v0.5.1](https://github.com/ortuman/jackal/releases/tag/v0.5.1) release, and confirm if the issue is still occurring.

Thx! 🙏

[2019-05-29 06:48] #85 closed

[2019-07-10 15:19] Freyskeyd commented on #70
I don't think Erlang is a bad choice when you need to run production ready, fault tolerant and distributed system :)

[2019-07-15 13:27] Neustradamus commented on #70
Please note that ejabberd does not support SCRAM-SHA-1-PLUS and SCRAM-SHA-256(-PLUS).

It is a security problem :)

[2019-07-16 06:33] ken-talkingsource opened #88 "Any suggested web client?"
Is there any suggested web client
or the simplest test example ?

thanks

[2019-07-20 17:02] ThomasLeister commented on #88
As a web client I recommend ConverseJS: https://github.com/conversejs/converse.js

[2019-07-30 15:52] xu4wang opened #90 "make install error"
Hi,

I'm trying to install jackal and getting below error.

[code]

Is there something I need double check?

BR,Xu

[2019-07-31 15:39] xu4wang commented on #90
I was using go 1.9.2 on MacOS

[code]

[2019-07-31 15:49] xu4wang commented on #90
Sorry for the noise... it was installed successfully after upgrading golang to current version.

[2019-07-31 15:49] #90 closed

[2019-08-01 08:29] xu4wang opened #91 "send file/picture feature"
Hi All

I'd like to have the feature of sending picture or file to the chat session.
Is there anybody working on this feature? Do you know which XEP we should implement for that?

Thanks,Xu

[2019-08-03 18:27] ortuman commented on #91
Well, this particular feature could be implemented in many ways using XMPP protocol,  but for instance _Conversations.im_ uses [xep-0363](https://xmpp.org/extensions/xep-0363.html) to send image files.

Sorry,  but currently i'm almost completely focused on [PEP](https://xmpp.org/extensions/xep-0163.html) implementation. This should be something to be considered in a future roadmap.

Additionally

[2019-08-03 18:27] #88 closed

[2019-08-22 16:21] gravestristen opened #94 "a little new here, could use some help."
i just ran through all the steps and set up the server but I don't know how to connect to the server correctly or create an account on it, I'm using profanity as my xmpp client.
edit: also am i able to make multi user rooms and if so how?

[2019-09-03 13:55] kaffeekanne commented on #94
Since profanity does not support in band registration (IBR) yet you might want to create an account with another client like gajim or Conversations. Afterwards connecting with profanity should work.

[2019-09-07 13:18] beppe9000 opened #95 "how to manage users from an external script ?"
I would like to use an external server to provide authentication. Is there builtin support in jackal for any of these protocols? If not, has this been attempted before?

If managing authentication externally is not feasible I was thinking of creating a php script exposing an HTTP API on the jackal server for the other server to manage users (create/disable/enable/set password).

What is the best w

[2019-09-08 10:54] ortuman commented on #95
Unfortunately, and to date, there is no way to do external authentication that does not require a previous modification of jackal's code. 😞

However, custom authentication mechanism via external gateway has been in the roadmap since long ago.

Just to give you more context, currently i'm 100% focused on finishing XEP-0163 support (which I expect to have finished before ending this year), which wil

[2019-09-08 11:05] beppe9000 commented on #95
Thanks for the good work! I definitely think exposing a simple API for users and settings management would be helpful in many scenarios: for example what I wanted to do is to create and auto-login [converse.js](https://conversejs.org/) users like a forum chatbox. I have to work the client part too but everything starts from the server. ;)

[2019-09-09 06:57] ortuman commented on #95
Here's the related feature issue:

https://github.com/ortuman/jackal/issues/82

Feel free to add any additional info. 😉

[2019-12-04 21:27] Neustradamus opened #96 "XEP-0368: SRV records for XMPP over TLS"
Can you add the XEP-0368: SRV records for XMPP over TLS support:
- https://xmpp.org/extensions/xep-0368.html

[2019-12-22 14:02] ortuman commented on #35
Done @ https://github.com/ortuman/jackal/releases/tag/v0.7.0

[2019-12-22 14:02] #35 closed

[2019-12-22 14:02] #94 closed

[2019-12-22 21:48] #69 closed

[2020-01-04 16:27] Neustradamus commented on #20
@ortuman: Can you update the logo a new time?

There were 2 changes in the XMPP logo, please look here:
- https://commons.wikimedia.org/wiki/File:XMPP_logo.svg

Old version, there was a problem: https://i.ibb.co/vcqmc8b/xmpp-logo-xsf-test.png

[2020-01-09 13:37] SamWhited opened #100 "v0.8.1 tarball hash not matching"
Hi,

Recently the AUR package for Jackal broke because the source tarball hash is different from the expected hash. I was wondering if the authors force pushed a new tag and if so if they could clarify what is in the new v0.8.1 release. If not, I'll manually verify the package and assume GitHub did something odd.

Thanks,
Sam

[2020-01-09 20:20] ortuman commented on #100
Hi! 👋

I personally force pushed the tag, which from a functional PoV only fixes a bug in XEP-0163 module. Sorry for the inconvenience. 🙏

[2020-01-09 20:24] SamWhited commented on #100
Thanks for the clarification. From a packaging (and general user sanity :) ) perspective, it would be nice if people could depend on the tags and tarballs not to change, it might be better to release a v0.8.2 or whatever in the future (this is what patch releases are for, in fact). Thanks!

[2020-01-09 20:25] ortuman commented on #100
I'll bear that in mind for future changes. Thanks! :)

[2020-01-09 20:27] #100 closed

[2020-01-14 22:23] Neustradamus opened #102 "Jackal test server with OMEMO problems"
Can you create a test server with OMEMO problems?

[2020-01-22 20:03] #102 closed

[2020-01-22 23:37] Neustradamus commented on #102
@ortuman: Please create a test server with the problem...
It is important for Psi developpers...

[2020-01-28 14:41] Neustradamus commented on #20
@ortuman: The logo in this repository is;
- https://github.com/ortuman/jackal/blob/master/.github/gopher.png

Can you update it with the good XMPP logo?

[2020-03-23 16:31] ortuman commented on #86
Going to close this issue as currently there are higher priorities to be tackled. Anyway, thanks for the proposal. 🙇

[2020-03-23 16:31] #86 closed

[2020-03-27 00:22] saniaga1323 opened #106 "</script><script>__DEV__=0;</script><script id="u_0_4h" src="https://static.xx.fbcdn.net/rsrc.php/v3/yE/r/WrM9v8ilxvW.js?_nc_x=FVSjiqpQV39" data-bootloader-hash="fdRw4"></script><script id="u_0_4e">CavalryLogger=window.CavalryLogger||function(a){this.lid=a,this.transition=!1,this.metric_collected=!"

[2020-03-27 00:23] saniaga1323 commented on #106
Guys , help me please with this problem. I don’t know even how to start resolving this problem. But I really need to know what is on that page ... like man to man ! It’s very personal for me . Thanks, gracias, merci , danke, Arigato, shi-shi, teshuccuyrederim, Рахмет, саубол, СПАСИБО in advance, caballeros  !

[2020-03-27 00:35] saniaga1323 commented on #106
Ffffuck I don’t know url ...

[2020-03-27 00:36] saniaga1323 commented on #106
I am not programmer... I am gold miner ... I don’t eve have my laptop, only iPhone.

[2020-03-27 16:10] #106 closed

[2020-03-28 22:24] saniaga1323 commented on #106
Hello! Please tell me how can I open this file with my iPhone? How can i check fotos,video and chats. I am trying to it 2 days . I know nothing about programming (( give me advice please.

С уважением ,
Лукьяев А. В.

[2020-04-13 00:00] SamWhited opened #107 "Consider removing SCRAM-SHA-512 support"
The `SCRAM-SHA1` and `SCRAM-SHA-256` SASL mechanisms are standardized by the IETF. However, there is no standardized mechanism for `SCRAM-SHA-512`. Since it is not supported by any XMPP clients, and does not provide any known security benefit over either of the other SCRAM mechanisms (since the hash is just used in an HMAC), please consider removing the SHA-512 mechanism. If the mechanism is left

[2020-04-13 17:00] SamWhited commented on #107
Another good reason to remove this that I just thought of is that if you want to store hashed passwords in the database (see #62) you'd need to store a separate salted password for every single hash you support with SCRAM. Otherwise if eg. Conversations logs in with SCRAM-SHA-256 and then the user tries to log in from their desktop with a client that only supports SCRAM-SHA-1, they won't be able t

[2020-04-13 21:27] SamWhited opened #114 "Invalid PgSQL being executed when upserting presences"
The SQL on [`storage/pgsql/presences.go:157`](https://github.com/ortuman/jackal/blob/f5647c18c27c2c5769a00ae876c5531c34fa3356/storage/pgsql/presences.go#L157) appears to be for MySQL or something similar, but it is in the Postgres package:

https://github.com/ortuman/jackal/blob/f5647c18c27c2c5769a00ae876c5531c34fa3356/storage/pgsql/presences.go#L157

This is causing warnings like the following on

[2020-04-13 21:29] SamWhited opened #115 "Panics when using PEP"
When using PEP, right after fetching bookmarks, I see the following panic in the logs:

[code]

[2020-04-14 08:33] ortuman commented on #115
Thanks for reporting Sam! 🙇

I'll take a deeper look ASAP. 👍

[2020-04-14 09:08] ortuman commented on #114
fixed @ https://github.com/ortuman/jackal/pull/116

[2020-04-14 09:08] #114 closed

[2020-04-14 09:16] ortuman commented on #115
Fixed @ https://github.com/ortuman/jackal/pull/117

[2020-04-14 09:16] #115 closed

[2020-04-15 12:19] #107 closed

[2020-04-15 14:17] SamWhited opened #119 "Consider a strategy for peppering passwords"
Once #62 is fixed (possibly by #112 being merged), it may be prudent to consider peppering passwords. If the database is compromised, the salt becomes known making brute force attacks against low-entropy passwords much easier. Peppering the password hash involves storing a part of the salt outside of the database, for example in the config file. This way the overall randomness hashed into the pass

[2020-04-22 19:15] southerntofu commented on #21
Just found out about Jackal so i thought i'd take a few minutes to make a list of the XEPs to implement the 2020 Compliance Suite.

The compliance suite is divded into 4 categories (core, web, IM, mobile) and each category has criteria for a basic server, and for an advanced server. I ticked the boxes of the specs marked as implemented on the README

## Core server featues

- core
  - [x] 0030
  -

[2020-05-21 11:05] creativenoobie commented on #82
@ortuman Any updates on this mate?

[2020-05-30 03:44] Neustradamus opened #121 "Multi-Session Nicks"
Can you add Jackal XMPP Server informations here?
- https://wiki.xmpp.org/web/Multi-Session_Nicks

[2020-07-30 23:21] manuel-rubio opened #122 "XEP-0114: Components"
Is it planned to add support for components?

[2020-09-03 21:31] Neustradamus commented on #107
@ortuman: Several XMPP clients support SCRAM-SHA-512(-PLUS)...

[2020-09-07 18:18] ortuman commented on #122
👋 hi @manuel-rubio!

ATM I'm exclusively working on a new service rebump (to refactor most of the codebase and add cluster support).

However, when done, component support is expected to be a priority task. 😄

[2020-09-16 00:04] Neustradamus opened #123 "Why a new repository?"
@ortuman: Why a new repository?

Why have you not done a transfer?

[2020-09-16 00:06] Neustradamus opened #124 "-PLUS problem"
@ortuman: Can you look the problem: https://github.com/TelepathyIM/wocky/issues/2?
- https://github.com/TelepathyIM/wocky/issues/2#issuecomment-686768095

[2020-09-16 18:57] ortuman commented on #123
That new repository is a new rebump of the application.

When done, I'll do the transfer.

[2020-09-16 18:57] #123 closed

[2020-10-27 23:54] Neustradamus commented on #124
@ortuman: Can you look?

[2020-10-27 23:57] Neustradamus opened #125 "Transfer into org?"
@ortuman: Can you move this repository into the jackal-xmpp organization?
- https://github.com/jackal-xmpp

[2020-10-30 00:38] Neustradamus opened #126 "Please add SCRAM-SHA-512(-PLUS) again and there is the SCRAM-SHA3-512(-PLUS)"
Following the removal of SCRAM-SHA-512(-PLUS), I request you the addition and there is SCRAM-SHA3-512(-PLUS) in the same time.

SCRAM-SHA-512(-PLUS):
- https://tools.ietf.org/html/draft-melnikov-scram-sha-512

SCRAM-SHA3-512(-PLUS):
- https://tools.ietf.org/html/draft-melnikov-scram-sha3-512

[2020-10-30 00:43] SamWhited commented on #126
When these go to RFC, *then* it will be appropriate to add them, IMO. Right now these are just I-Ds, they may change before the final revision, or a weakness may be found, etc. These are simple enough that I don't think that's likely, but you never know and since the existing mechanisms are very strong it doesn't hurt to wait and make sure.

[2020-10-30 00:51] Neustradamus commented on #126
A lot of projects have already SCRAM-SHA-512: https://www.google.com/search?q=SCRAM-SHA-512

[2020-10-30 00:53] SamWhited commented on #126
A list of search results doesn't mean that most mainstream clients and servers implement it (they don't). And even if they did, you're not getting a compatibility befit from it or anything else that would make it a good idea to rush this before the final version of the document is even out. What happens if you implement it now, and then changes are made, and then you're not compatible with the fin

[2020-11-13 14:31] mmalesev commented on #58
Resolved in the PR #120

[2020-12-15 12:10] licaon-kter opened #127 "Impact of `encoding/xml` vulns"
Ref: https://mattermost.com/blog/coordinated-disclosure-go-xml-vulnerabilities/

[2020-12-15 15:31] Neustradamus commented on #127
From @mdosch:

FYI

https://github.com/mattermost/xml-roundtrip-validator/blob/master/advisories/unstable-attributes.md
https://github.com/mattermost/xml-roundtrip-validator/blob/master/advisories/unstable-directives.md
https://github.com/mattermost/xml-roundtrip-validator/blob/master/advisories/unstable-elements.md

[2020-12-31 00:43] Neustradamus commented on #126
@ortuman: For your information, there was a SCRAM problem in Conversations:
- https://github.com/iNPUTmice/Conversations/commit/2a57c92f63afbe6c8627b84ba959614c2667de96

[2021-01-24 12:43] Neustradamus commented on #125
@ortuman: This project is now dead?

[2021-01-24 13:36] ortuman commented on #125
No it isn't. ATM, I'm totally focused on a project revamp to provide cluster support among other things. I expect it to hace it ready in the next 2-3 months. Thanks for the patience. 🙇‍♂️

[2021-01-24 13:50] Neustradamus commented on #125
@ortuman: Thanks for your reply.

But why it is not possible to transfer this repo into the organization?

[2021-01-24 13:53] ortuman commented on #125
Not a priority now, but will be done when ready.

[2021-01-31 16:04] #121 closed

[2021-01-31 16:20] Neustradamus commented on #121
@ortuman: It has not been added...

[2021-01-31 20:20] ortuman commented on #121
Sorry but It won't. This is a one man project and I have to wisely choose my priorities, and unfortunately XEP-0045 is not among them.

[2021-02-01 08:08] Neustradamus commented on #121
@ortuman: It is not solved, please re-open this ticket.

[2021-02-23 12:03] ortuman commented on #122
👋  Hi @manuel-rubio.  Let you know that the latest release [v0.50.0](https://github.com/ortuman/jackal/releases/tag/v0.50.0) already offers support for jabber components (XEP-0114).

In the example config file there's an snippet showing how to define a components listener.

Thanks for the suggestion and hope you find it useful.  🙇

[2021-02-23 12:03] #122 closed

[2021-02-23 12:14] ortuman commented on #95
👋 Hey @beppe9000! Let you know that [latest release](https://github.com/ortuman/jackal/releases/tag/v0.50.0) already offers support for external authentication mechanism.

Jackal provides this functionality through [grpc](https://grpc.io/). Authenticator [proto definition](https://github.com/jackal-xmpp/jackal-proto/blob/master/jackal/proto/authenticator/v1/authenticator.proto#L24-L27) can be foun

[2021-02-23 12:14] #95 closed

[2021-02-23 12:15] ortuman commented on #82
👋 Hey @creativenoobie ! Let you know that [latest release](https://github.com/ortuman/jackal/releases/tag/v0.50.0) already offers support for external authentication mechanism.

Jackal provides this functionality through [grpc](https://grpc.io/). Authenticator [proto definition](https://github.com/jackal-xmpp/jackal-proto/blob/master/jackal/proto/authenticator/v1/authenticator.proto#L24-L27) can b

[2021-02-23 12:15] #82 closed

[2021-02-23 12:19] beppe9000 commented on #95
Nice, I didn't know of gRPC. It's a whole new world 👍🏻

[2021-02-23 12:31] ortuman commented on #62
👋 Hi everyone! Just wanted to share with you that since [latest release](https://github.com/ortuman/jackal/releases/tag/v0.50.0) we only store user passwords in hashed form into database (no more plain texts). Also, and additional security layer was added by providing support for salted+pepper password hashes.

If there's any other suggestion in this regard feel free to open an issue. 🙇

[2021-02-23 12:31] #62 closed

[2021-02-23 12:38] ortuman commented on #119
👋 Hi @SamWhited! Done at [v0.50.0](https://github.com/ortuman/jackal/releases/tag/v0.50.0)

To know how to add peppers configuration take a look at this [snippet](https://github.com/ortuman/jackal/blob/master/example.config.yaml#L5-L8) in config example file.

Hope you find it useful, and thanks for all your suggestions (all of them are welcome). 🙇

[2021-02-23 12:38] #119 closed

[2021-02-23 12:41] ortuman commented on #126
@Neustradamus here's a list of all SCRAM methods supported since [latest release](https://github.com/ortuman/jackal/releases/tag/v0.50.0):

* [SCRAM-SHA-1](https://github.com/ortuman/jackal/blob/master/model/user.go#L21)
* [SCRAM-SHA-256](https://github.com/ortuman/jackal/blob/master/model/user.go#L22)
* [SCRAM-SHA-512](https://github.com/ortuman/jackal/blob/master/model/user.go#L23)
* [SCRAM-SHA3

[2021-02-23 12:41] #126 closed

[2021-02-24 19:17] Neustradamus commented on #126
@ortuman: Nice, thanks a lot! :)

Time to move into the organization?

[2021-02-27 08:09] ortuman commented on #125
For trying to understand better. What's the point of transfering it into .org? I've been thinking about this recently, and since this is a on man project I'd personally would leave it as is (at least for now).

[2021-02-27 15:13] Neustradamus commented on #125
With this logic, please move all from https://github.com/jackal-xmpp into your personal account ;)

Or all into the organization ^^

One person or several people, it is not a problem to have an organization place.

Please change your account status from private to public here: https://github.com/orgs/jackal-xmpp/people.

Your are cited in README, there are your commits, you are in organization, ..

[2021-02-28 08:32] ortuman commented on #124
@Neustradamus could you confirm this is still an issue on [latest release](https://github.com/ortuman/jackal/releases/tag/v0.50.0)?

[2021-03-09 07:10] ortuman commented on #125
Sorry, but I don't see any advantages in migrating to .org, and yet I do see the drawbacks, such as having to adapt all the code and spending valuable time.

[2021-03-09 07:10] #125 closed

[2021-03-12 07:36] ortuman commented on #124
Case was [solved](https://github.com/TelepathyIM/wocky/issues/2#issuecomment-794553780) 👍

[2021-03-12 07:36] #124 closed

[2021-03-15 10:22] ortuman commented on #96
Added support for XEP-0368 @ [v0.51.0](https://github.com/ortuman/jackal/releases/tag/v0.51.0)

[2021-03-15 10:22] #96 closed

[2021-03-15 16:20] ortuman opened #130 "Feature request: XEP-0280: Message Carbons"
Add support for [XEP-0280: Message Carbons](https://xmpp.org/extensions/xep-0280.html)

[2021-03-31 13:12] SamWhited opened #132 "Failing build due to changed dependency"
The build is currently failing due to a checksum mismatch:

[code]

[2021-03-31 15:48] ortuman commented on #132
👋

After running `go mod tidy` I'm still getting `h1:zwcW3PwR6uF9h52myAPNQt5YmbyuIpDvyDStUobclOc=` checksum value for `github.com/jackal-xmpp/runqueue@v0.5.0` repository. 🤔

Could you please specify which go version are you using? Thanks!

[2021-03-31 16:07] SamWhited commented on #132
`go mod tidy` won't clean up the problem, it will just show the error. I've tried on a recent build of Go 1.17, but also on Go 1.15.9.
To fix this you'd probably want to investigate why the checksum changed (in case it is an actual problem) and then if everything is okay you'd remove this line from `go.sum` and then run `go mod tidy` which would add the new checksum line.

[2021-03-31 16:08] SamWhited commented on #132
I'm guessing you force pushed the tag or something, which will break other builds that have already pinned this version.

[2021-03-31 16:48] ortuman commented on #132
Just updated the dependency and recreated `v0.52.0` tag. Could you please confirm if this is still an issue?

[2021-03-31 16:51] SamWhited commented on #132
That seems fine. Gentle reminder though that recreating tags is unexpected (because it looks like a possible attack). Anything that had jackal pinned at v0.52.0 (eg. if people deploying it were using a go.mod file to keep track of versions or had it in their `tools.go` file or something) will now also be broken if the global Go package database had already hashed it.

[2021-03-31 18:39] ortuman commented on #132
I'm glad it works now! Regarding recreating a tag, I was completely unaware of that implication. I'll definitely keep that in mind the next time something similar happens. Luckily the release was short-lived, so I expect that at least not too many people has been affected by this. 🤞

[2021-03-31 18:39] #132 closed

[2021-04-05 15:40] ortuman opened #138 "Feature request: XEP-0191: Blocking Command"
Add support for [XEP-0191: Blocking Command](https://xmpp.org/extensions/xep-0191.html)

[2021-04-05 15:41] ortuman commented on #130
Added support for [XEP-0280: Message Carbons](https://xmpp.org/extensions/xep-0280.html) @ [v0.52.0](https://github.com/ortuman/jackal/releases/tag/v0.52.0)

[2021-04-05 15:41] #130 closed

[2021-04-07 07:31] ortuman opened #140 "Feature request: XEP-0313: Message Archive Management"
Add support for [XEP-0313: Message Archive Management](https://xmpp.org/extensions/xep-0313.html)

[2021-04-07 10:45] ortuman opened #141 "Feature request: XEP-0012: Last Activity"
Add support for [XEP-0012: Last Activity](https://xmpp.org/extensions/xep-0012.html)

[2021-04-07 10:47] ortuman opened #142 "Feature request: XEP-0202: Entity Time"
Add support for [XEP-0202: Entity Time](https://xmpp.org/extensions/xep-0202.html)

[2021-04-16 07:44] #138 closed

[2021-04-16 14:37] ortuman opened #147 "Update to latest stravaganza release"
Use latest `stravaganza` release: https://github.com/jackal-xmpp/stravaganza/releases/tag/v2.0.0

[2021-04-17 08:56] #147 closed

[2021-04-20 15:43] #141 closed

[2021-04-21 13:59] #142 closed

[2021-05-09 21:34] uGeek opened #155 "ARM architecture and docker-compose.yml"
Jackal seems like a project to be amazed! Congratulations.

Since Jackal is very lightweight, docker support is planned for ARM architecture such as the Raspberry Pi.

It would also be great to have a docker-compose to make mounting easier.

Thank you

[2021-05-13 07:02] ortuman commented on #155
Thanks for the suggestion @uGeek . 👍

Truth is I think this is a very good point, especially for those who want to try the service without having to configure/install anything.

[2021-05-13 16:59] uGeek commented on #155
Thank you.

Waiting to try it...

[2021-05-16 14:10] #155 closed

[2021-05-16 14:18] ortuman commented on #155
👋 Hi again @uGeek!

Already done.

Here are the [instructions](https://github.com/ortuman/jackal#docker-compose) to easily mount `jackal` server using docker compose.

Hope you find it useful, and if you want to report any feedback, would be welcome. 😃

[2021-06-07 12:35] #22 closed

[2021-06-07 14:57] ortuman opened #159 "Feature request: XEP-0352: Client State Indication"
Add support for [XEP-0352: Client State Indication](https://xmpp.org/extensions/xep-0352.html)

[2021-06-21 02:52] apinprastya commented on #58
@ortuman the PR is on hold since Nov 2020, please let me know when you have any plan to reopen again the PR in the near future.

[2021-07-03 18:38] jhjacobs81 opened #161 "The docker-compose script doesnt work for me"
using the default docker-compose.yaml provided in this repository, i get the error as seen as on the image :(

![image](https://user-images.githubusercontent.com/5583803/124364038-29f67480-dc3f-11eb-89c4-55682d0adc50.png)

[2021-07-06 11:34] anthonyjmartinez opened #162 "Consider following stable rather than stretch"
**Is your feature request related to a problem? Please describe.**
Debian stretch is very old and stale, buster is also quite stale, but is the current stable tracking branch and is much fresher than stretch.

**Describe the solution you'd like**
Update Dockerfile from `stretch-slim` to `stable-slim`

**Describe alternatives you've considered**
Updating to `testing-slim` as Debian testing is what

[2021-07-08 09:40] jhjacobs81 commented on #161
i may just have figured out the problem.. i didnt include the config file :O i'll try later on today

[2021-07-08 11:04] jhjacobs81 commented on #161
adding a valid config.yaml results in this:

jackal_1  | wait-for-it.sh: pgsql:5432 is available after 1 seconds
jackal_1  | wait-for-it.sh: waiting 15 seconds for etcd:2379
jackal_1  | wait-for-it.sh: etcd:2379 is available after 0 seconds
jackal_1  | {"level":"info","ts":"2021-07-08T11:01:38Z","msg":"Jackal is starting...","instance_id":"d4636682-4b7f-460d-a844-96165d9e2ca1","version":"v0.54.1",

[2021-07-19 07:28] #162 closed

[2021-07-19 07:31] ortuman commented on #161
👋 hi @jhjacobs81!

it appears there's no `etcd` instance available at `etcd:2379` address. does this make sense?

[2021-09-10 17:16] ortuman opened #164 "Move roster management logic into its own type"
Create `roster.Manager` type so that a roster can be managed externally (eg via HTTP, gRPC, etc).

[2021-09-10 17:17] ortuman commented on #161
Closing due to lack of activity

[2021-09-10 17:17] #161 closed

[2021-09-10 17:19] ortuman commented on #127
Sorry, but I think I'm missing some context here. How these vulnerabilities are supposed to affect the project?

[2021-09-10 17:36] licaon-kter commented on #127
It affects go stuff that processes xml, jackal does this, maybe it's too.

It's more a heads-up, you'd need to analyze if your useage is impacted or not.

[2021-09-13 07:10] #164 closed

[2021-09-18 15:25] ortuman opened #167 "Add cached repository support"

[2021-09-18 15:33] ortuman opened #168 "Add repository.User cached type"

[2021-09-18 15:33] ortuman opened #169 "Add repository.VCard cached type"

[2021-09-18 15:34] ortuman opened #170 "Add repository.Roster cached type"

[2021-09-18 15:35] ortuman opened #171 "Add repository.Private cached type"

[2021-09-18 15:36] ortuman opened #172 "Add repository.Offline cached type"

[2021-09-18 15:37] ortuman opened #173 "Add repository.Last cached type"

[2021-09-18 15:38] ortuman opened #174 "Add repository.Capabilities cached type"

[2021-09-18 15:39] ortuman opened #175 "Add repository.BlockList cached type"

[2021-09-22 16:04] Neustradamus opened #176 "XEP-0227: Portable Import/Export Format for XMPP-IM Servers"
Can you add Portable Import/Export Format for XMPP-IM Servers support?
- https://xmpp.org/extensions/xep-0227.html

[2021-09-22 16:42] #172 closed

[2021-11-07 17:21] ortuman opened #179 "New maintainer(s) needed"
I am stepping down as maintainer of the jackal project.

I am looking for one or more people with a track record of successfully maintaining an open source project. Potential maintainers can gain this experience by contributing to this project.

If you rely on the quality and ongoing maintenance of this project, then please get involved by helping to maintain this project or finding people to help

[2021-11-07 17:23] ortuman commented on #27
Stale issue

[2021-11-07 17:23] #27 closed

[2021-12-22 14:53] Neustradamus commented on #58
Any news about it?

[2021-12-22 14:55] Neustradamus commented on #179
@ortuman: After several requests: Any news for the move of this repo in the org?
- https://github.com/jackal-xmpp

The upstream need to be move and not a fork.

Thanks in advance.

[2021-12-22 15:01] Neustradamus opened #181 "Move into the organization"
Dear @ortuman, it is possible to migrate this repo into the jackal-xmpp organization?
- https://github.com/jackal-xmpp

I have requested you several times in the past.

Transfer a repository:
- https://help.github.com/en/github/administering-a-repository/transferring-a-repository

A redirection from old to new place will be here...
No lost.

Like:
- http://github.com/gnome
- http://github.com/kde

[2021-12-24 15:53] #179 closed

[2021-12-26 01:09] Neustradamus commented on #179
@ortuman: Have you found?

[2021-12-29 01:48] etuttle commented on #179
I might be interested in helping out.  I contacted @ortuman directly via email to discuss.

[2022-01-03 17:33] ortuman commented on #181
Sorry, but this project isn't going to be moved to an jackal-xmpp organization. Thanks.

[2022-01-03 17:33] #181 closed

[2022-01-03 17:40] Neustradamus commented on #181
@ortuman: It is strange, why?

I do not understand some are here, some into jackal-xmpp.

Can you remove the indentical fork: https://github.com/jackal-xmpp/jackal?

And maybe move all here and remove jackal-xmpp organization after if it is the solution.

Thanks in advance.

[2022-01-03 17:47] Neustradamus commented on #58
There was a problem here: Initial release
ortuman committed on 22 Feb 2021

All the code has been broken since the moment.

[2022-01-07 07:49] prologic opened #189 "Refactor storage model to provide other alternatives besides an RDBMS / SQL db"
Is it worthwhile refactoring the code and some of the database related functions I see in the schema such that simpler/smaller installations can be deployed? For example using a BoltDB database?

[2022-01-23 10:57] ortuman commented on #189
👋 @prologic

The current repository [interface](https://github.com/ortuman/jackal/blob/main/pkg/storage/repository/repository.go#L20) already abstracts the application from the underlying used database.

However, the real reason jackal doesn't support extra databases other than PgSQL is quite simple: time.

Having to maintain two different implementations would require me a precious time that I'd

[2022-01-30 15:35] #167 closed

[2022-01-30 15:35] #168 closed

[2022-02-02 18:56] #173 closed

[2022-02-03 17:29] #174 closed

[2022-02-04 16:44] #171 closed

[2022-02-05 17:52] #175 closed

[2022-02-11 19:10] borislavone opened #209 "Websocket connection?"
Is there endpoint for websockets to connect ?

[2022-02-12 09:15] ortuman commented on #209
Support for websockets isn't a priority at the moment, but I believe many would benefit from having it? Sounds like a feature request! 😃

@borislavone could you be more concrete about your specific use case?

[2022-02-12 09:16] #170 closed

[2022-02-12 19:55] borislavone commented on #209
React Native

[2022-03-02 20:01] #189 closed

[2022-03-04 16:12] ortuman commented on #189
@prologic this was finally implemented @ [v0.58.0](https://github.com/ortuman/jackal/releases/tag/v0.58.0)

And thanks for the suggestion. 🙇‍♂️

[2022-03-04 23:02] prologic commented on #189
Oh this is great news! I might actually go stand up an instance of this now 🥳

[2022-03-17 19:36] brianwoo opened #218 "no pepper keys defined?"
Version: v0.58.0
Platform: Linux localhost 3.18.124-lineageos-g04ff888001f2 #1 SMP PREEMPT Mon Mar 14 05:04:42 UTC 2022 aarch64 Android
Subsystem: if known, please specify the affected core module name

I am getting the following error when starting jackal:
$ ./jackal
level=info ts=2022-03-17T19:29:57.042434572Z caller=jackal.go:188 msg="jackal is starting..." version=v0.58.0 go_ver=go1.17.8 go_os

[2022-03-20 19:16] UniqueActive commented on #140
Hello, what is the status on this feature?
I saw that it was moved to "Done" at one point but then just removed and I couldn't find it in the list of features. :)

[2022-03-30 17:37] ortuman commented on #218
👋 hey @brianwoo!

Starting from v0.59.0 pepper keys are not mandatory to be set in order to bootstrap jackal. So go ahead, and give it a try!

[2022-04-18 14:36] march1993 opened #221 "Getting Started: go get won't work any more"
[code]

[2022-04-19 12:01] SamWhited commented on #221
That means you're not in your project directory. Go to your project directory, make sure it's using modules, then run that again. If you're not familiar with modules, you'll need to do a `go mod init mymodule.com/whatever` in your project folder first. This tutorial can get you started: https://go.dev/doc/tutorial/create-module

[2022-04-19 14:55] march1993 commented on #221
When I'm in my project directory. Command 'go get' runs successfully. But `cd $GOPATH/src/github.com/ortuman/jackal` fails since neithor `GOPATH` nor `GOROOT` is set.

[2022-05-05 09:44] #218 closed

[2022-05-27 14:56] ortuman commented on #221
Thanks for reporting! The `README.md` has been properly updated. 🙇‍♂️

[2022-05-27 14:56] #221 closed

[2022-06-07 09:52] ortuman commented on #140
👋 hi @UniqueActive

This feature was put back in the backlog as other priorities came in.

Currently, I've reprioritized it and I hope to have it ready for the next release (v0.62.0).

[2022-07-31 11:51] SamWhited opened #244 "Cannot install with go install"
When installing jackal with `go install github.com/ortuman/jackal/cmd/jackal@latest` or something similar, it will fail with the following:

[code]

This is because replace directives are only used for libraries, but Jackal uses them for the main packages as well.

[2022-08-12 23:59] SamWhited opened #245 "Cannot authenticate as any user"
* **Version**: jackal version: v0.61.0
* **Platform**: Linux 5.18.16-arch1-1 #1 SMP PREEMPT_DYNAMIC Wed, 03 Aug 2022 11:25:04 +0000 x86_64 GNU/Linux
* **Subsystem**: auth

No authentication using any SCRAM mechanism is ever successful for me. I have tried going back in the history (as far as `v0.58.0`) and haven't found a working commit. The issue appears to be that `FetchUser` passes in the usern

[2022-08-13 16:36] ortuman commented on #245
👋

That's the key.

The `jackalctl` command only expects username value as input, without domain. So for the above exposed example would look like this:

[code]
Definitely this is some kind of bug.

[2022-08-13 22:35] SamWhited commented on #245
If I have multiple domains, how would I choose what domain the user exists for in this case?

[2022-08-15 11:54] SamWhited commented on #245
Sounds like users exist for every single vhost. Nothing wrong with this I guess, but it's very unexpected.

[2022-09-14 13:36] PaluMacil commented on #127
If there is no security concern related to the ordering of attributes and elements, I don't believe these types of vulnerabilities affect the project. Basically, there is no way to ensure deterministic ordering between a struct and xml doc through round trips. There are third party libraries which may be discussed in that blog post, if I recall, which can help this, but my guess is that this is no

[2022-09-29 11:28] ortuman commented on #140
Closing. [XEP-0313](https://xmpp.org/extensions/xep-0313.html) support already available starting from v0.62.0

[2022-09-29 11:28] #140 closed

[2022-10-10 16:25] ortuman opened #266 "Add support for XEP-0163: Personal Eventing Protocol"
Add support for [XEP-0163: Personal Eventing Protocol](https://xmpp.org/extensions/xep-0163.html)

[2022-10-16 11:45] mirkoperillo opened #269 "Authentication failure"
I'm testing jackal on my local computer to understand how it works, but I'm not able to have a successful authentication

## Context
- Host machine Ubuntu 20.04
- Postgresql 12 (using docker container)
- Jackal 0.62.3 (using docker image)
- jackalctl installed locally following README instruction
- Client for test `gajim` v1.1.3 (version present in the Ubuntu repo)

Test to reproduce the problem:

[2022-10-17 07:29] zohairhadi opened #270 "VoIP"
A VoIP feature would be very useful.

**Is your feature request related to a problem? Please describe.**
I am looking for a XMPP server in Go which has both instant messaging and VoIP feature to create a full scale communication app.

**Describe the solution you'd like**
A VoIP feature would be great. This would enable voice chatting on Jackal as well.

**Describe alternatives you've considered**

[2022-10-18 17:33] SamWhited commented on #270
What do you mean by "VoIP feature"? Most VoIP is done on the client side. Is there some specific server side thing you're looking for?

[2022-10-20 19:31] mirkoperillo opened #272 "Digging into logger configuration"
* **Version**: 0.63.2

The file `config/example.config.yaml` presents a section about logger

[code]
Looking the source code `output_path` configuration is not present.

In the code the part about logger configuration is here https://github.com/ortuman/jackal/blob/4d04d68f95d1fa5191d50ccf8104bbab31d7103b/pkg/jackal/config.go#L45

 In detail this struct
[code]

and it defines a `format` field never

[2022-10-22 08:53] mirkoperillo opened #274 "Docker-compose doesn't work"
* **Version**: 0.62.3
* **Platform**: Ubuntu 20.04
* **Docker Version**: 20.10.19
* **Docker-compose Version**: 1.29.1

docker-compose doesn't work out of the box.

Running the command `sudo docker-compose -f dockerfiles/docker-compose.yml up` the jackal service fails to start with this log message

[code]

[2022-10-23 12:00] mirkoperillo commented on #274
I have tried to understand better the problem, more details about:

- If I try to change `command` in `docker-compose.yml` to run a simple command like `echo`:

[code]

I've got the same error `exec format error`

- If I try to run directly `jackal` output is ok
[code]

The problem seems specific of the jackal docker image. I've tried to run `wait-for-it` using directly the `debian:stable-slim` im

[2022-10-28 17:04] mirkoperillo commented on #274
More tests about the problem.

I think I have isolated the problem, it is something about the `--platform=$BUILDPLATFORM` and `GOARCH=$TARGETARCH` defined into the `Dockerfile`

To test this I have created a `Dockerfile.local` without these data, so something like this
[code]
and have used this `Dockerfile.local` directly into `docker-compose`, so with a jackal service definition like this

[code]

[2022-11-25 14:06] mirkoperillo commented on #269
@ortuman any idea or suggestion ?